<div class="play-list-admin-body">
    <ul class="play-list-table-header">
        <li (click)="changeSort('name')">Nombre ❤</li>
        <li (click)="changeSort('album')">Opciones 🆗</li>
    </ul>
    <div class="play-list-rows" *ngFor="let track of tracks | orderList:optionSort.property:optionSort.order; let i = index">
        <div class="track-name">
            <ng-container *ngTemplateOutlet="coverSection;context:{track:track}"></ng-container>
        </div>
        <div class="track-name-opacity">
            <div class="edit-input">
                <span (click)="pickElement(i)" class="action">Editar 🖊️</span>
                <!-- Edit Form -->
                <form [ngClass]="{'selected': i === selectedElement}" class="edit-form" action="">
                    <input type="text">
                    <button type="submit">Guardar</button>
                </form>
            </div>
            <!-- <span (click)="deleteTrack(track)" class="delete action">Eliminar ❌</span> -->
        </div>
    </div>
</div>

<!--template del cover-->
<ng-template #coverSection let-track="track">

    <div class="cover-section">
        <img appImgBroken class="cover-track" [src]="track.cover" [alt]="track.name">
        <div class="cover-info">
            <div class="name-track">{{track.name}}</div>
            <div class="name-track-details">{{track.artist.name}}</div>
        </div>
    </div>

</ng-template>